main{
    display: flex;
    flex-direction: column;
    
    section{
        
        form{
            color: rgba(92, 233, 233, 0.933);
            margin:auto;
            width: max-content;
    
        }
    }
}